name: test

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - run: npm ci

      - run: npm run format-check

      - run: npm run lint

      - run: npm test

      - run: npm run build

  lint:
    name: Lint Action YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: |
          sudo apt-get install yamllint
          yamllint action.yml

  test:
    name: Test cache action on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        samples: [ metanorma/mn-samples-cc ]
        with:
        - cache-site-for-manifest: ''
        - cache-site-for-manifest: test/metanorma/mn-samples-cc/metanorma.yml
    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: ${{ matrix.samples }}
        path: test/${{ matrix.samples }}

    - uses: actions-mn/setup@main

    - uses: ./
      with:
        cache-site-for-manifest: ${{ matrix.with.cache-site-for-manifest }}

    - uses: actions-mn/site-gen@main
      with:
        source-path: test/${{ matrix.samples }}
        config-file: metanorma.yml
        agree-to-terms: true
        output-dir: site

    - uses: andstor/file-existence-action@v2
      with:
        files: test/${{ matrix.samples }}/site/index.html
