name: test

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  lint-test:
    name: Build and Unit Tests
    uses: actions-mn/shared/.github/workflows/lint-test.yml@main
    with:
      node-version: '24.x'
      run-lint: true

  lint:
    name: Lint Action YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: |
          sudo apt-get install yamllint
          yamllint action.yml

  test:
    name: Test cache action on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: lint-test
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        samples: [ metanorma/mn-samples-cc ]
        with:
        - cache-site-for-manifest: ''
        - cache-site-for-manifest: test/metanorma/mn-samples-cc/metanorma.yml
    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: ${{ matrix.samples }}
        path: test/${{ matrix.samples }}

    - uses: actions-mn/setup@main

    - uses: ./
      with:
        cache-site-for-manifest: ${{ matrix.with.cache-site-for-manifest }}

    - uses: actions-mn/site-gen@main
      with:
        source-path: test/${{ matrix.samples }}
        config-file: metanorma.yml
        agree-to-terms: true
        output-dir: site

    - uses: andstor/file-existence-action@v2
      with:
        files: test/${{ matrix.samples }}/site/index.html
